.treatment-description {
  margin-bottom: 20px;

  .ant-descriptions-item-content {
    background-color: #fff;
  }
}

.blood-test-container {
  margin-bottom: 20px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;

  .blood-test-item {
    text-align: center;
    width: 25%;

    &.important {
      color: #f00;
      font-weight: 700;
    }
  }
}
