@import 'common';
@import '~antd/dist/antd.css';

td {
  max-width: 200px;
  white-space: pre-wrap;
}

.highlighted-text {
  background-color: #ffc069;
  padding: 0;
}

.ant-form-item-label {
  text-align: right !important;
}

.ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #b6b3b3 !important;
}
