.content {
  .page-header {
    position: absolute;
    right: 30px;
    top: 10px;

    .ant-page-header-heading-title {
      line-height: 30px;
    }
  }

  .back-text {
    cursor: pointer;
  }
}
