.layout-container {
  height: 100vh;

  .header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right {
      .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
        color: #fff;
        &:hover {
          color: #1890ff;
        }
      }
    }

    .left {
      padding: 0 20px;

      .header-user-avatar {
        background-color: #487dae;
        cursor: pointer;
      }
    }
  }

  .content {
    margin: 24px 16px;
    padding: 24;
    min-height: 280;
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
}

.user-popover-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  min-width: 160px;
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  padding: 7px 0px;
  border-radius: 5px;
  transition: all 0.1s ease 0s;
  margin: -8px -16px;

  .popover-button {
    padding: 7px 15px;
    border: 0;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
    background: none;
    transition: all 0.1s;
    &:hover {
      background-color: #f5f6f8;
    }
    .popover-text {
      margin-right: 10px;
    }
  }
}
