@import '../../styles/common.scss';

.login-container {
  min-height: 100vh;
  background-color: #eff1f5;

  .login-card {
    @extend .card;
    padding: 30px 50px 40px;

    .login-error {
      margin-bottom: 16px;
    }
  }
}
